html {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;

    .footer-icons {
        text-align: center;
    }
}

