<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles/base.css">
    {% block style %}{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block title %}
        <title>Macronutrients calculator app</title>
    {% endblock %}
</head>
<body>
    <!--NAVIGATION BAR -->
    <nav>

    </nav>
    <!-- MAIN CONTENT (different from page to page) -->
    {% block content %} {% endblock %}
    <!-- FOOTER --->
    <footer>
        <div class="footer">
            <div class="footer-text">
                &copy; El Khadri Design - <span id="date-footer"> date </span>
            </div>
            <div class="footer-icons">
                <i class="fa-brands fa-tiktok"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
    </footer>
    <!--JavaScript-->
    <script src="../static/scripts/script.js"></script>
</body>
</html>