{% extends "base.html" %}
{% block style %}
    <link rel="stylesheet" href="../static/styles/login.css">
{% endblock %}
{% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}
    <h1> Welcome to the macro calculator</h1>
    <div class="login-main-container">
        <!--classic email/password connection-->
        <form action="{{url_for('check_credentials')}}" method="post">
            <div class="form-credential-container">
                <label for="email">Email:</label><br>
                <input type="email" name="email" id="email"><br>
                <label for="pwd">Password:</label><br>
                <input type="password" name="pwd" id="pwd"><br>
            </div>
            <button type="submit">Submit</button>
        </form>

        <!-- sso connection possibilities -->
       <div class="sso">
            <button class="sso-btn">
                <i class="fa-brands fa-google"></i>
            </button>
            <button class="sso-btn">
                <i class="fa-brands fa-apple"></i></h2>
            </button>

        </div>
    </div>



{% endblock %}